<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.cogit.prova001"
        versionCode = "10"
        version     = "0.0.1">
 
    <name>GBS-Test-001</name>
 
    <description>
        Cogit Prova 001
    </description>
 
    <author href="http://cogitsoftware.it" email="stefano.gobbato@cogitsoftware.it">
        Cogit di Gobbato Stefano E.
    </author>

  <preference name="phonegap-version" value="2.7.0" />
  <icon src="icon.png" />
  
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>